PORT=5000
DATABASE_URL=mongodb+srv://<username>:<password>@cluster0.mongodb.net/?appName=Cluster0
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5000/api/v1
NODE_ENV=development

# <---------Rate Limiting---------->
# Set to 'true' to completely bypass rate limiting during testing/development (default: false)
DISABLE_RATE_LIMIT=false

# <---------jwt---------->
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=15d
JWT_SECRET=your_jwt_secret_key_here

# <---------email / smtp---------->
USER_MAIL=noreply@example.com
USER_PASS=your_smtp_password
SMTP_HOST=smtp.example.com
SMTP_PORT=587

# <---------cloudinary---------->
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# <---------bunny.net---------->
BUNNY_STORAGE_ZONE_NAME=your_storage_zone
BUNNY_STORAGE_ZONE_PASSWORD=your_storage_password
BUNNY_STORAGE_REGION_HOST=storage.bunnycdn.com
BUNNY_CDN_HOSTNAME=your_hostname.b-cdn.net
BUNNY_AUTHENTICATION_KEY=your_auth_key

# <---------Alibaba Cloud OSS---------->
ALIBABA_ACCESS_KEY_ID=your_access_key_id
ALIBABA_ACCESS_KEY_SECRET=your_access_key_secret
ALIBABA_REGION=cn-hangzhou
ALIBABA_BUCKET=your_bucket_name

# <---------Bcrypt---------->
BCRYPT_SALT_ROUNDS=10

# <---------SSL Commerz---------->
SSL_STORE_ID=your_store_id
SSL_STORE_PASS=your_store_pass
SSL_PAYMENT_API=https://sandbox.sslcommerz.com/gwprocess/v4/api.php
SSL_VALIDATION_API=https://sandbox.sslcommerz.com/validator/api/validationserverAPI.php

SSL_SUCCESS_BACKEND_URL="/enrolment/success"
SSL_FAIL_BACKEND_URL="/enrolment/fail"
SSL_CANCEL_BACKEND_URL="/enrolment/cancel"

SSL_SUCCESS_FRONTEND_URL="/payment/success"
SSL_FAIL_FRONTEND_URL="/payment/fail"
SSL_CANCEL_FRONTEND_URL="/payment/cancel"
